.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ff00cc, #ffcccc);
  }
  
  .auth-form {
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  
  .auth-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .auth-form button {
    background: linear-gradient(to right, #06b6d4, #3b82f6);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .auth-form p {
    font-size: 14px;
  }
  
  .auth-form p span {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  